<!DOCTYPE html>
<html>
<head>
    <title>delete heroes Data</title>
</head>
<body>
    <center>
    <h1> delete Heroes Data </h1>
    
    <form class="" action="/heroes/delete" method="post">
        <p>heroes ID</p>
        <input type="text" placeholder="id" name="id">
        </br>
        </br>
       
        <button>Submit Data</button>
    </form>
    </center> 
</body>
</html>