<!DOCTYPE html>
<html>
<head>
    <title>Add heroes Data</title>
</head>
<body>
    <center>
    <h1> Add Heroes Data </h1>
    
    <form class="" action="/heroes/add" method="post">
        <p>heroes name</p>
        <input type="text" placeholder="name" name="name">
        <p>type </p>
        <input type="text" placeholder="type" name="type">
        </br>
        </br>
        <p>Link Picture</p>
        <input type="text" placeholder="picture" name="picture">
        </br>
        </br>
        <button>Submit Data</button>
    </form>
    </center> 
</body>
</html>