<!DOCTYPE html>
<html>
<head>
    <title>Edit heroes Data</title>
</head>
<body>
    <center>
    <h1> Edit Heroes Data </h1>
    <h3>Data heroes bisa di liat di table list all heroes(based on id)</h3>
    
    <form class="" action="/heroes/edit" method="post">
        <p>heroes id(check list)</p>
        <input type="text" placeholder="id" name="id">
        <p>heroes name</p>
        <input type="text" placeholder="name" name="name">
        <p>type </p>
        <input type="text" placeholder="type" name="type">
        </br>
        </br>
        <p>Link Picture</p>
        <input type="text" placeholder="picture" name="picture">
        </br>
        </br>
        <button>Submit Data</button>
    </form>
    </center> 
</body>
</html>