<!doctype html>
<html lang="en">

<head>
    <title><%= title %></title>
</head>

<body>
    <div id='contents'>
        <h1>Welcome to <%= title %></h1>
        <table>
            <tbody>
                <tr>
                    <td><button><a href='/heroes'>see all heroes</a></button></td>
                </tr>
                <tr>
                    <td><button><a href='/add'>add heroes</a></button></td>
                </tr>
                <tr>
                    <td><button><a href='/edit'>edit heroes</a></button></td>
                </tr>
                <tr>
                    <td><button><a href='/delete'>delete heroes</a></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

    </script>
</body>

</html>